<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a> <!-- routerLink kertoo routerille minne mennä kun painetaan linkkiä -->
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet> <!-- Router outlet esittää reitittimen kautta haetun komponentin sisällön -->
