
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- Haetaan kukin sankari sankari taulukosta ja annetaan
  niille ehdollinen css luokka ja onSelect funktio
  Tämä toteutetaan *ngFor direktiivillä, joka on angularin structural directive.
  Structural direktiivien tarkoituksena on muokata layouttia lisäämällä, poistamalla
  tai korvaamalla DOM rakenteen elementtejä. Tässä tapauksessa *ngFor lisää listaan sankarien
  tietueita -->
  <li *ngFor="let hero of heroes"
  [class.selected] = "hero === selectedHero"
  (click)="onSelect(hero)">
    <!-- {{}} merkeillä toteutetaan interpolaatiota, eli käytettävän komponentin
    vastaavat arvot kytkeytyvät {{}}  sisällä oleviin arvoihin. -->
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button> <!-- stopPropagation estää onSelectin ajamisen -->
  </li>
</ul>
<div *ngIf="selectedHero">
<h2>
  <!-- Pipe | operaattori filtteröi annetun parametrin käyttämällä sen jonkin
  funktion lävitse. Tässä tapauksessa asettaakseen nimen isoihin kirjaimiin. -->
  {{selectedHero.name | uppercase}} is my hero
</h2>
<button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
