<div id="search-component">
  <h4>Hero Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" /> <!-- search toiminto ajetaan tässä -->
  <div>
    <!-- Tehdään jokaiselle sankarille nappi *ngFor funktiolla.
    Koska herot tulevatkin observablena, ne täytyy käyttää async piipun kautta
    joka poistaa observablen ja antaa vain arrayllisen sankareita -->    
    <div *ngFor="let hero of heroes | async"
         (click)="gotoDetail(hero)" class="search-result" >
      {{hero.name}}
    </div>
  </div>
</div>
