<div *ngIf="hero"> <!-- Katsotaan että selectedHero ei ole undefined tai null -->
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <!-- [()] merkeillä toteutetaan arvon sitominen tekstilaatikkoon.
    Data liikkuu tällöin molempiin suuntiin eli toteuttaa two way data bindingia
    [] component to template, () template to component,
    [()] component to templata and template to component -->
    <!-- Alla oleva input käyttää angulariin sisäänrakennettua attribute direktiiviä
    [(ngModel)]. Niillä muokataan olemassaolevan elementin ulkoasua tai käyttäytymistä
    [(ngModel)] esimerkiksi asettaa sankari olion nimen input kenttään valmiiksi.
    Huomaa että direktiivissä toteutuu myös two way databinding, sillä direktiivi
    hakee hero olion nimen ja muokkaa olion nimeä jos sitä muokataan viewissä -->
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
  <button (click)="save()">Save</button>-
  <button (click)="goBack()">Back</button>
</div>
